<h1>
	FocusBot
</h1>
<p>
	FocusBot is an open source discord bot providing a getaway from the main chat for people who just want to focus
	on something. FocusBot has an invisible interface interacted with by simply joining a focus channel. See it in
	action here:
</p>

<video width="320" height="240" controls>
	<source src="video.mp4" type="video/mp4">
	Your browser doesn't support video, but if it did, it would be pretty friggen sick right now dawg
</video>

<h1>
	<a href="https://discord.com/oauth2/authorize?client_id={{.}}&scope=bot&permissions=1">Add Focus Bot To Your Server
	</a>
</h1>
